
*{margin: 0;padding: 0;box-sizing: border-box;}
.fix{overflow: hidden;}
body{font-family: 'Poppins', sans-serif;max-width: 100%;
    overflow-x: hidden;}
p{margin: 0;}
a{text-decoration: none;color: dodgerblue;}
ul{margin: 0;list-style: none; padding: 0;}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}
.modal-close-button {
    display: inline-block;
  
    float: right;
}
.stickynav
{
    overflow: hidden;
    z-index: 22;
    background: #8AF3E3;
}
.toggle-btn-bg
{background: red ;}

.top-bar {
	width: 100%;
	margin: 30px 0;
}
.topbar-item{width: 25%;float: left;}
.address-box {
    display: flex;
}
.address {
    /* width: 100%; */
    /* margin: 0; */
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}
.address p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #1B1D58;
    /* margin-left: 41px; */
}
.address-icon {
    display: inline-block;
    vertical-align: middle;
}
svg {
    width: 14px;
    height: 16px;
}

.phone-box {
    display: flex;
}
    .phone {
       
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
    }
    .phone p {
       
        font-size: 13px;
    }
    .phone-icon {
        display: inline-block;
        vertical-align: middle;
    }
    .time-box {
        display: flex;
    }

    .time {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
    }
    .time p {
        
        font-size: 13px;
    }
    .time-icon {
        display: inline-block;
        vertical-align: middle;
    }
 
    .action-button {
        width: 100%;
        text-align: right;
    }
    .action-button.btn.btn-outline-danger.text-dark {
        width: 54%;
        /* height: 40px; */
        padding: 9px;
        text-align: center;
        /* text-align: ; */
    }

    /* main-menu */
    .main-menu{width: 100%;background: #8AF3E3;position: relative;
    }
    nav  a svg {
        width: 65px;
        height: 75px;
    }
    .logoAndBrand {
        width: 30%;
    }
    .logo {
        float: left;
    }
    .brand {
        /* display: block; */
        margin-top: 15px;
        float: left;
    }
    .brand-txt {
        /* font-family: Open Sans; */
        
        text-align: left;
        /* width: 71%; */
        
        position: absolute;
        width: 17%;
        top: 21%;
        left: 161px;
        z-index: 22;
    }
    .brand-txt a{
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        color: #1B1D58;
       
    }
    .link-text
    {color: #1B1D58;}
    .navbar-light .navbar-nav .nav-link {
        color: #1B1D58;
        font-size: 16px;
    }
    

    /* slider area */
    .slider-area {
        padding: 21px 0;
    }
    .single-slider{height: 700px;}

.action-button.btn.btn-outline-danger.text-dark {
	width: 54%;
	/* height: 40px; */
	padding: 9px;
	text-align: center;
	/* text-align: ; */
}




/* slider */
.active-slider{}
.slider-box{position: relative;}
.single-slider {
	background-size: cover;
    position: relative;
    height: 450px;
}


.single-slider::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #2E485C;
	opacity: 0.8;
	top: 0;
	left: 0;
}

.slider-content {
    position: absolute;
    top: 129px;
    right: 0;
    left: 0;
    margin: auto;
    /* text-align: center; */
    /* width: 100%; */
    z-index: 22;
    text-align: center;
    width: 84%;
    margin: auto;
}
.slider-content h2 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 30px;
    text-align: left;
}

.slider-content p {
	color: #fff;
	font-size: 16px;
	text-align: left;
}
.slider-content a {
	color: #fff;
	font-size: 18px;
	padding: 77px 0;
	/* margin: 30px 0; */
	display: block;
	text-align: left;
}

.owl-dots {
	padding: 0 20px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
}
.owl-dot.active {
	background: red !important;
}

.owl-dot {
	background: #fff !important;
	width: 15px;
	height: 15px;
	margin: 0 12px;
	border-radius: 23px;
}


.banner {
    height: 450px;
    width: 100%;
    left: 1069px;
    top: 228px;
    border-radius: 0px;
    background: #2E485C;
    padding: 111px 31px;
}
.banner h2 {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	width: 90%;
	margin: auto;
}
.banner p {
    color: #fff;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    font-size: 16px;
}
.banner a {
    color: #fff;
    width: 90%;
    margin: auto;
    padding-top: 11px;
    display: block;
    font-size: 18px;
}

/* about sectiion */
.about-area {
	padding: 68px 0;
}
.about-content-image img{width: 100%;}
.about-content-text {
    padding: 20px;
}

.about-content-text h2 {
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
}
.about-content-text p {
    margin-top: 25px;
    font-size: 16px;
}

/* service */
.service-area {
	padding: 40px 0;
	padding-bottom: 0px;
}
.service-content-text {
	text-align: center;
}
.service-content-text h2 {
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
}
.service-content-text p {
    width: 70%;
    margin: auto;
    padding: 20px 0;
    font-size: 16px;
}

    .service-image-content {
        width: 100%;
        height: 320px;
        position: relative;
        overflow: hidden;
    }
    .service-image-content:hover .service-feature {
       
        transform: translateY(0);
      
    }
    .service-image-content img {
        width: 100%;
        height: 100%;
    }
    /* .read-more:click .service-feature {
       
       
    }  */
    .service-feature {
        width: 100%;
        background: #183650D9;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .3s;
        overflow: hidden;
        height: 100%;
       transform: translateY(70%);
       
        
    }
    .service-feature a{text-decoration: none;}
   
    .service-feature h3 {
        color: rgb(255, 255, 255);
        padding: 30px 0px;
        margin-left: 24px;
        font-size: 30px;
    }
    .service-feature p {
        color: #fff;
        font-size: 16px;
        padding: 7px 24px;
    }
    a.read-more {
        padding: 0 22px;
        width: 100%;
        padding-top: 46px;
        display: inline-block;
    }
    .read-more-content {
        display: inline-block;
        padding-left: 19px;
        padding-top: 20px;
    }
    .read-more-content p {
        padding: 0;
        color: #8AF3E3;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;

    }
    .read-more-content span {
        /* font-size: 12px; */
        color: #8AF3E3;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 5px;
    }
    .read-more-icon {
        display: inline-block;
        
    }
    .read-more-icon svg {
        height: 12px;
    }

    /* single service  */

    .single-service-image-content
    {
        width: 100%;
        height: 320px;
        position: relative;
        overflow: hidden;
    }
    .single-service-feature
    {
        width: 100%;
        background: #183650D9;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .3s;
        overflow: hidden;
        height: 100%;
        transform: translateY(70%);
    }
    .single-service-image-content:hover .single-service-feature {
       
        transform: translateY(0);
    }
    .single-service-feature a{text-decoration: none;}
    .single-service-feature h3 {
        color: #fff;
        padding: 30px 0;
        margin-left: 24px;
        font-size: 30px;
    }
    .single-service-feature p {
        color: #fff;
        font-size: 16px;
        padding: 9px 24px;
    }
    h3.single-banner-header
    {

    }






    /* a.read-more svg {
        width: 26px;
        margin-left: 6px;
    }
    .service-feature a span{color: #8AF3E3;width: 55px;}
    .read-more-arrow-icon {
        
        position: absolute;
        bottom: 117px;
        left: 119px;
    } */

    /* banner */
    /* track number */
    .track-number-desktop
    {
        display: block;
    }
    .track-number-mobile
    {
        display: none;
    }
    .secondary-banner {
        padding: 30px 0; 
        background: #f9f7ef;
    }
    .single-banner {
        position: relative;
        height: 350px;
    }
    .single-banner img{ height: 350px;}
    .banner-part-2 {
        position: absolute;
        top: 0;
        /* left: 30%; */
        text-align: right;
        width: 100%;
    }
    .banner-part-2 img {
        width: 66%;
    }
    /* .banner-part-2-content {
       
        position: absolute;
        top: 110px;
        right: 32px;
    } */
    .banner-part-2-content h3 {
        font-size: 30px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: #1B1D58;
    }
    .banner-part-2-content p {
        text-align: left;
        font-size: 16px;
    }

    .banner-part-2-content {
        position: absolute;
        top: 24%;
        left: 60%;
        width: 100%;
    }

    .track-number {
        width: 33%;
        padding: 20px 0;
        /* margin: auto; */
    }
    .form-control.track-input {
        background: #183650;
        color: #fff;
        padding: 10px;
    }
    .btn.btn-outline-secondary.track-btn {
        background: #8AF3E3;
        padding: 9px;
        /* margin-left: 10px; */
        font-size: 18px;
        color: #1B1D58;
        width: 107px;
    }



 /* brand-partner-Image */

 .brand-partner-Image {
    background: #91E3D7;
    padding: 70px 0;
    margin-top: 50px;
}
    .brand-parnter-image-content {
        width: 100%;
    }
    .brand-parnter-image-content img {
        /* width: 66%; */
        height: 148px;
    }
    img.brand-image-one {
        width: 50%;
    }
    img.brand-image-two {
        width: 80%;
    }
    img.brand-image-three {
        width: 90%;
    }
   


   

        .single-banner-third
        {
            background: #91E3D7;
            height: 300px;

        }
        .third-banner-content {
            text-align: center;
            padding: 70px 0;
            padding-right: 73px;
        }
        img.custom-image1 {
            height: 116px;
          
        }
        img.custom-image2 {
            height: 116px;
            width: 50%;
            float: left;
        }
        img.custom-image3 {
            height: 116px;
            width: 50%;
            float: left;
        }
        .custom-image4 {
            width: 100%;
            height: 116px;
        }
        .col-md-4.col-sm-4.banner-image-brand {
            width: 33%;
            display: inline-block;
        }
       .third-banner-content img {
    }
        .custom-image {
            width: 74%;
            margin: auto;
        }
        .third-banner-content img {
           
        }

        /* map */

        .map {
            width: 100%;
            height: 300px;
            position: relative;
        }
  

        .map img {
            height: 100%;
            width: 100%;
}


        /* information section */

        .information-area {
            padding: 50px 0;
        }
        .info-box {
            width: 75%;
            margin: auto;
        }
        .info-title{}        
        .info-title h4 {
            color: #1B1D58;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            letter-spacing: 0em;
            text-align: left;
        }
        .info-box{}      
        .info-box ul{}      
        .info-box li {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 11px;
            letter-spacing: 0em;
            text-align: left;
            color: #1B1D58;
            padding: 10px 0;
        }
        button.btn.btn-primary.btn-lg.btn-block.w-100.mt-1.send-btn {
            font-size: 18px;
        }
        .icon-1 {
            display: inline-block;
            vertical-align: middle;
        }
        .icon-1 span{}
        .icon-2{
            vertical-align: middle;
            display: inline-block;
        }
        .icon-3{
            vertical-align: middle;
            display: inline-block;
        }
        .icon-4{
            vertical-align: middle;
            display: inline-block;
        }
        .icon-5{
            vertical-align: middle;
            display: inline-block;
        }
        .time-2{display: inline-block;vertical-align: middle;}
        .time-2 span{}
        .address-2 {
            vertical-align: middle;
            display: inline-block;
        }
        .phone-2
        {
            vertical-align: middle;
            display: inline-block;
        }
        .home-telephon
        {
            vertical-align: middle;
            display: inline-block;
        }
        .email-2
        {
            vertical-align: middle;
            display: inline-block;
        }
       

        .message-box {
            width: 75%;
            margin: auto;
        }
        .send-btn{ background: #8AF3E3;color: #1B1D58;}





        /* footer */
        .footer-area{}

        .footer-top{background: #102334;
        }
        .footer-top-left {
            width: 80%;
            margin: auto;
            padding: 60px 0;
        }
        .footer-top-left h3 {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: left;
        }
        .footer-top-left p {
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
        }
        .email-box {
            width: 85%;
            padding: 20px 0;
        }
        .form-control.email-input
        {
            background: #fff;
            color: #183650;
            padding: 10px;
        }
        .email-btn{
            background: #8AF3E3;
            padding: 10px;
            /* margin-left: 10px; */
            color: #1B1D58;
            width: 107px;
        }

        .footer-top-right {
            width: 80%;
            margin: auto;
            padding: 60px 0;
        }
        .footer-top-right h4 {
            color: #fff;
            text-align: center;
            font-size: 30px;
        }
        .service-time {
            /* text-align: center; */
            padding: 17px 0;
            padding-left: 51px;
        }
        .service-time ul{}
        .service-time ul li {
            color: #fff;
            font-weight: 100;
            line-height: 28px;
            font-size: 16px;
        }

        .footer-bottom {
            background: #8AF3E3;
            padding: 17px 0;
        }

        .copy-right h5{
            color: #000000;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;

        }
        .footer-nav {
            text-align: right;
        }
        .footer-nav ul{}
        .footer-nav ul li {
            display: inline-block;
            margin-left: 44px;
        }
        .footer-nav ul li a {
            color: #000000;
            font-size: 16px;
        }

        .service-details-images{}
        .service-details-images img {
            width: 100%;
            height: 300px;
            padding: 10px;
        }

        .service-details-content {
            padding: 52px 0;
            text-align: left;
        }
        .service-details-content h3 {
            text-align: left;
        }
        .service-details-content h6 {
            text-align: left;
        }
        .service-details-content p {
            text-align: left;
            margin-top: 31px;
            font-size: 12px;
        }
        .close.btn.btn-danger {
           
            float: right;
        }
        .service-details-images {
            padding: 52px 0;
        }

        /* responsive */
        
        .service-pop-box {
           
        }
        .service-pop-box h4 {
            padding: 13px 34px;
            padding-top: 31px;
        }
 
   .service-pop-box p {
	padding: 10px 34px;
	font-size: 14px;
}
.service-pop-box ul {
    list-style: disc;
    padding-left: 34px;
}
.service-pop-box h2 {
	font-size: 20px;
	color: #d2d2d2;
	padding: 0 34px;
}

.full-modal-body {
    padding: 0 40px;
}
   ul.mailbox-rental-list li {
    padding: 10px 0;
}

a.navbar-brand span {
	font-size: 19px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #1B1D58;
	text-align: left;
	display: inline-block;
	margin-left: 15px;
}
.nav-brand-text a
{
    text-decoration: none;
    color: #1B1D58;
}
.nav-brand-text a span
{
    font-size: 19px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;

}
.footer-modal-body {
    text-align: left;
}


  .trackPackegeLinkMobile
  {
    display: none;
  }