

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
 
    .single-slider {
        height: 450px;
    }
    .slider-content {
       
        top: 141px;
        
    }
    .slider-content h2 {
        font-size: 30px;
        text-align: left;
    }
    .slider-content p {
        font-size: 16px;
    }
    .slider-content a {
        padding: 33px 0;
        font-size: 18px;
    }
    .owl-dots {
       
        bottom: 60px;
    }
    .owl-dot {
      
        width: 13px;
        height: 12px;
        margin: 0px 10px;
       
    }


    
    .banner {
        height: 450px;
        padding: 137px 30px;
    }
    .banner h2 {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        width: 90%;
        margin: auto;
    }
    .banner p {
       
        font-size: 16px;
    }
    .time-2 {
        
        padding-left: 10px;
    }
    .email-2 {
        
        padding-left: 10px;
    }
    .address-2 {
        
        padding-left: 10px;
    }
    .phone-2 {
        
        padding-left: 10px;
    }
    .home-telephon{ padding-left: 10px;}
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    .address {

        padding-left: 10px;
    }
    .time{
        padding-left: 10px;

    }
    .phone{   padding-left: 10px;}
    .time p {
      
        font-size: 14px;
    }
    .phone p {
       
        font-size: 14px;
    }
    .address p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #1B1D58;
      
    }
    .single-slider {
        height: 400px;
    }
    .slider-content {
       
        top: 118px;
        
    }
    .slider-content h2 {
        
        font-size: 46px;
    }

    .slider-content a {
        
        padding: 34px 0;
        
    }

    .banner {
        height: 400px;
        padding: 50px 31px;
        
    }

    .brand-txt {
      
        width: 20%;
        
    }

    .banner-part-2-content h3 {
        font-size: 19px;
       
    }
    .banner p {
       
        font-size: 16px;
    }



    .about-content-text {
        padding: 0px;
    }
    .about-content-text p {
        margin-top: 5px;
        font-size: 15px;
    }
    a.read-more {
        padding: 0 22px;
        width: 100%;
        padding-top: 17px;
        display: inline-block;
    }


    .track-number {
        width: 32%;
        padding: 10px 0;
        /* margin: auto; */
    }
    .banner-part-2-content {
        position: absolute;
        top: 56px;
        left: 55%;
        width: 84%;
    }
    .btn.btn-outline-secondary.track-btn {
        background: #8AF3E3;
        padding: 5px;
        /* margin-left: 10px; */
        color: #1B1D58;
        width: 90px;
    }
    .form-control.track-input {
        background: #183650;
        color: #fff;
        padding: 5px;
    }

    .third-banner-content {
        text-align: center;
        padding: 80px 0;
        padding-right: 69px;
    }
    img.custom-image2 {
        width: 142px;
    }
    .brand-parnter-image-content img {
        /* width: 66%; */
        height: 104px;
    }

    .email-btn {
       
        padding: 9px;
        
    }

    .info-box li {
      
        font-size: 14px;
        
    }
    .time-2 {
        
        padding-left: 10px;
    }
    .email-2 {
        
        padding-left: 10px;
    }
    .address-2 {
        
        padding-left: 10px;
    }
    .phone-2 {
        
        padding-left: 10px;
    }
    .home-telephon{ padding-left: 10px;}

    .service-time ul li {
        color: #fff;
        font-size: 11px;
    }
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .navbar-light .navbar-nav .nav-link {
        color: #1B1D58;
        font-size: 14px;
    }
    .nav-brand-text a span {
        font-size: 18px;
      
    }
    .container{width: 970px;margin: auto;}
    .address p {
        font-size: 10px;
        line-height: 18px;
    }
    .phone p {
       
        font-size: 11px;
    }
    .time p {
       
        font-size: 9px;
    }
    .time-icon {
       
        margin-top: 0px;
    }
  
    svg {
        width: 29px;
        height: 21px;
    }
    .logoAndBrand {
        width: 40%;
    }
    .brand-txt a {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        color: #1B1D58;
    }
   
    .single-slider {
        height: 300px;
    }
    .slider-content h2 {
        font-size: 24px;
        text-align: left;
    }
    .slider-content {
       
        top: 68px;
     
    }
    .slider-content p {
        font-size: 14px;
    }
    .slider-content a {
      
        font-size: 16px;
        padding: 25px 0;
       
    }
    .owl-dot {
       
        width: 10px;
        height: 10px;
        margin: 0 7px;
       
    }
    .banner {
        height: 300px;
        padding: 28px 8px;
    }
    .banner h2 {
        font-size: 24px;
    }
    .banner p {
        font-size: 14px;
    }
    .banner a {
       
        font-size: 16px;
    }


    .about-content-text {
        padding: 1px;
    }
    .about-content-text h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 45px;
    }
    .about-content-text p {
        margin-top: 7px;
        font-size: 14px;
    }
    .service-image-content {
      
        height: 250px;
       
    }
    .service-content-text h2 {
       
        font-size: 32px;
       
    }
    .service-content-text p {
        width: 80%;
        font-size: 14px;
    }
    .service-feature h3 {
        color: #fff;
        padding: 18px 0;
        margin-left: 24px;
        padding-bottom: 4px;
       font-size: 24px;
    }
    .single-service-feature h3 {
        color: #fff;
        padding: 18px 0;
        margin-left: 24px;
        font-size: 24px;
    }
    .single-service-feature p {
        color: #fff;
        font-size: 14px;
        padding: 17px 24px;
    }
   

    .single-banner img {
        height: 350px;
        width: 100%;
    }
    .banner-part-2 {
        position: absolute;
        top: 0;
        /* right: 0; */
        width: 66%;
        left: 36%;
    }
    .banner-part-2-content {
        position: absolute;
        top: 37%;
        left: 50%;
        width: 100%;
    }
    .service-feature {
       
        transform: translateY(75%);
    }
    .service-feature p {
        color: #fff;
        font-size: 14px;
        padding: 0px 24px;
        
    }
    .read-more-content {
        display: inline-block;
        padding-left: 19px;
        padding-top: 8px;
    }
    a.read-more {
        padding: 0 22px;
        width: 100%;
        padding-top: 23px;
        display: inline-block;
    }
    .read-more-content span {
        
        font-size: 16px;
        
    }
    .banner-part-2-content h3 {
        font-size: 24px;
    }
    .banner-part-2-content p {
        text-align: left;
        font-size: 14px;
    }
    .btn.btn-outline-secondary.track-btn {
        
        font-size: 16px;
        
    }
    .track-number {
        width: 40%;
        padding: 17px 0;
        /* margin: auto; */
    }

    .single-banner-third {
        background: #91E3D7;
        height: 175px;
    }
    .third-banner-content {
       
        padding: 40px 0;
        padding-right: 71px;
    }

    img.brand-image-three {
        width: 90%;
        height: 75px;
    }
    .brand-parnter-image-content img {
        /* width: 66%; */
        height: 75px;
    }
    img.custom-image1 {
        height: 112px;
        width: 56%;
    }

    img.custom-image2 {
        width: 49%;
    }
    .custom-image4 {
        width: 100%;
        height: 74px;
    }


    img.custom-image3 {
        width: 48%;
    }

    .info-title h4 {
        color: #1B1D58;
        font-size: 24px;
        font-weight: 700;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;
    }
    .info-box li {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 0px;
        letter-spacing: 0em;
        text-align: left;
        color: #1B1D58;
        padding: 11px 0;
    }
    .icon-2 {
        vertical-align: middle;
        width: 13%;
        float: left;
    }
    .address-2 {
        vertical-align: middle;
        line-height: 16px;
        float: left;
        width: 80%;
        padding-bottom: 10px;
    }
    button.btn.btn-primary.btn-lg.btn-block.w-100.mt-1.send-btn {
        font-size: 16px;
    }
    .message-box {
        width: 100%;
        margin: auto;
    }


    .footer-top-left h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .footer-top-left p {
        font-size: 14px;
        line-height: 25px;
    }
    .footer-top-right h4 {
        color: #fff;
        text-align: center;
        font-size: 24px;
    }
    .email-box {
        width: 100%;
        padding: 20px 0;
    }

    .service-time ul li {
        color: #fff;
        font-size: 14px;
    }
    .service-time {
        /* text-align: center; */
        padding: 17px 0;
        padding-left: 0px;
    }
    .copy-right h5 {
        font-size: 14px;
        font-weight: 400;
        line-height: 29px;
    }
    .footer-nav ul li {
        display: inline-block;
        margin-left: 14px;
        font-size: 14px;
    }
    .footer-nav ul li a {
        color: #000000;
        font-size: 14px;
    }

}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .logoAndBrand {
        width: 60%;
    }
    svg {
        width: 20px;
        height: 18px;
    }
    .time-2 {
      
        padding-left: 5px;
    }
    .address-2 {
        
        padding-left: 5px;
    }
    .phone-2
    {
        padding-left: 5px;
    }
    .home-telephon
    {
        padding-left: 5px;
    }
    .email-2{padding-left: 5px;}
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 500px;
        padding: 0;
    }
    svg {
        width: 20px;
        height: 18px;
    }

    .address p {
       
        font-size: 8px;
        line-height: 13px;
       
    }
    .phone p {
        font-size: 8px;
    }
    .time p {
        font-size: 7px;
        line-height: 14px;
    }
    .phone p {
        font-size: 8px;
        line-height: 18px;
    }
.text-dark {
	color: #212529 !important;
	font-size: 12px;
}
.action-button {
    width: 100%;
    text-align: left;
    margin-left: 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: #1B1D58;
    font-size: 14px;
}
.trackPackegeLinkDesktop
{
    display: none;
}
.trackPackegeLinkMobile
{
  display: block;
}
.brand-txt {
	
	width: 30%;
	
}
.brand-txt a {
	font-size: 17px;
	
}
.single-slider {
	height: 250px;
}

.slider-content {
	
	top: 50px;
	
}
.slider-content h2 {
    font-size: 18px;
    text-align: left;
}
.slider-content p {
    font-size: 10px;
}
.slider-content a {
    font-size: 12px;
    padding: 21px 0;
}
.owl-dot {
	
	width: 10px;
	height: 10px;
	margin: 0 6px;
	
}


.banner {
	height: 250px;
	margin-top: 20px;
	padding: 40px 0;
}
.banner h2 {
   
    font-size: 18px;
    
}
.banner p {
   
    font-size: 10px;
}
.banner a {
   
    font-size: 12px;
}

.about-content-image img {
	/* width: 100%; */
	/* margin: auto; */
	height: 263px;
}
.about-content-text {
	padding: 0;
	
}
.about-content-text h2 {
    font-size: 24px;
    font-weight: 700;
    /* line-height: 68px; */
    letter-spacing: 0em;
    text-align: left;
}
.about-content-text p {
    margin-top: 0px;
    font-size: 10px;
}

.service-content-text h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0em;
}
.service-feature h3 {
	color: #fff;
	padding: 24px 0;
	margin-left: 24px;
	font-size: 24px;
	padding-bottom: 0px;
}
.read-more-content {
	display: inline-block;
	padding-left: 19px;
	padding-top: 0px;
}
.read-more-content span {
	/* font-size: 12px; */
	
	font-size: 16px;
	
}
.service-feature p {
	color: #fff;
	font-size: 16px;
	padding: 4px 24px;
}
a.read-more {
	padding: 0 22px;
	width: 100%;
	padding-top: 15px;
	display: inline-block;
}
.service-content-text p {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    font-size: 10px;
    text-align: left;
}
.service-image-content {
    width: 100%;
    height: 250px;
    position: relative;
}

.single-banner img {
	height: 213px;
	width: 100%;
}
.single-service-feature h3 {
	color: #fff;
	padding: 30px 0;
	margin-left: 24px;
	font-size: 18px;
}
.single-service-feature p {
	color: #fff;
	font-size: 10px;
	padding: 9px 24px;
}
.read-more-content span {
	/* font-size: 12px; */
	font-size: 12px;
}
.read-more-icon svg {
	height: 8px;
}

/* banner */
.single-service-image-content {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.brand-image-mobile-view {
    width: 33%;
}
.brand-parnter-image-content img {
    /* width: 66%; */
    height: 62px;
}
.banner-image-brand {
    width: 32%;
    margin: 0;
    display: inline-block;
}
.single-banner {
    position: relative;
    height: 200px;
}
.banner-part-2 {
	position: absolute;
	top: 0;
	left: 32%;
	width: 100%;
}
.banner-part-2-content {
	left: 51%;
	width: 100%;
}
.banner-part-2-content h3 {
    font-size: 18px;
    line-height: 0;
}
.banner-part-2-content p {
    text-align: left;
    margin-top: 15px;
    font-size: 10px;
    display: block;
}
.track-number {
	width: 39%;
	padding: 15px 0;
	/* margin: auto; */
}
.form-control.track-input {
	background: #183650;
	color: #fff;
	padding: 14px;
	height: 34px;
	width: 52%;
}
.btn.btn-outline-secondary.track-btn {
    background: #8AF3E3;
    padding: 6px;
    /* margin-left: 10px; */
    color: #1B1D58;
    width: 196px;
    margin-top: 4px;
    font-size: 12px;
}

.single-banner-third {
	background: #91E3D7;
	height: auto;
}
.third-banner-content {
	text-align: center;
	padding: 24px 0;
	
}
img.custom-image1 {
    height: 128px;
    width: 100%;
}
img.custom-image2 {
	width: 100%;
	height: 45px;
}

img.custom-image4 {
    height: 64px;
    width: 100%;
}

.info-title h4 {
    color: #1B1D58;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}
.info-box li {
    font-size: 10px;
    line-height: 0px;
    padding: 6px 0;
}
button.btn.btn-primary.btn-lg.btn-block.w-100.mt-1.send-btn {
    font-size: 12px;
}

.message-box {
	
	padding: 44px 0;
}
.footer-top-left h3 {
	
	font-size: 21px;
	
}
.footer-top-left p {
	
	font-size: 11px;
	
}
.time-schedule {
    width: 50%;
}
.email-box {
	width: 91%;
	padding: 20px 0;
}
.service-time {
    /* text-align: center; */
    padding: 17px 0;
    padding-left: 8px;
}
.copy-right h5 {
    font-size: 10px;
    text-align: center;
}
.footer-nav ul li {
    display: inline-block;
    margin-left: 10px;
}
.footer-nav ul li a {
    color: #000000;
    font-size: 10px;
}

.footer-nav {
    text-align: center;
}
.modal.show .modal-dialog {
   
    padding: 62px 0;
}

}


/* EXtra Small Mobile */

@media (min-width: 280px) and (max-width: 480px) 
{

     .single-banner-third > .row >.col-md-4.col-sm-4 {
        width: 33.33%;
    }
    .address p {
       
        font-size: 12px;
       
    }
    .time p {
       
        font-size: 12px;
       
    }
    .phone p {
        font-size: 12px;
        line-height: 25px;
        padding-left: 5px;
    }
    svg {
        width: 42px;
        height: 16px;
    }
    .time-icon {
       
        margin-top: 0px;
    }
    .phone-icon {
        margin-top: 9px;
    }
    .address .address-icon {
       
        margin-top: 0px;
    }
    .action-button {
        width: 78%;
         text-align: left; 
        margin: auto;
        margin-top: 11px;
    }
    .phone {
        position: relative;
        width: 100%;
        padding: 6px 0;
    }
    .logoAndBrand {
        width: 78%;
    }
    .brand {
     
        margin-top: 3px;
        
    }
    .navbar-light .navbar-nav .nav-link {
        color: #1B1D58;
        font-size: 12px;
    }
    .trackPackegeLinkDesktop
{
    display: none;
}
.trackPackegeLinkMobile
{
  display: block;
}
    .brand-txt {
        /* font-family: Open Sans; */
        text-align: left;
        /* width: 71%; */
        position: absolute;
        width: 41%;
        top: 21%;
        left: 95px;
        z-index: 22;
    }
    .navbar-brand img {
        width: 50px;
        height: 50px;
    }
  
    .nav-brand-text a span {
        font-size: 15px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
    }
    .single-slider {
        height: 200px;
    }
    .slider-content {
       
        top: 48px;
       
       
    }
    .slider-content h2 {
        font-size: 18px;
        text-align: left;
    }
    .slider-content p {
        color: #fff;
        font-size: 10px;
        text-align: left;
    }
    .slider-content a {
        color: #fff;
        font-size: 12px;
        padding: 15px 0;
        /* margin: 30px 0; */
        display: block;
        text-align: left;
    }
    .owl-dots {
        
        bottom: 25px;
    }
    .owl-dot {
        background: #fff !important;
        width: 10px;
        height: 10px;
        margin: 0 7px;
        border-radius: 23px;
    }
    .banner {
        height: 150px;
        width: 100%;
        left: 1069px;
        top: 228px;
        border-radius: 0px;
        background: #2E485C;
        padding: 15px 30px;
        margin: 10px 0;
    }
    .banner h2 {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        width: 90%;
        margin: auto;
    }
    .banner p {
        color: #fff;
        width: 90%;
        margin: auto;
        margin-top: 21px;
        font-size: 10px;
    }
  
    .banner a {
       
        font-size: 12px;
    }
    .about-content-image img {
        width: 100%;
        height: 200px;
    }
    .about-content-text {
        padding: 12px;
    }
    .about-content-text h2 {
        font-size: 24px;
    }
    .about-content-text p {
        margin-top: 0px;
        font-size: 10px;
    }
    .service-content-text h2 {
        font-size: 24px;
        text-align: left;
        margin-left: 20px;
        line-height: 14px;
    }
    .service-content-text p {
        width: 90%;
        margin: auto;
        padding: 20px 0;
        text-align: left;
        font-size: 10px;
    }
    .read-more-content {
        display: inline-block;
        padding-left: 6px;
        padding-top: 0px;
    }
    .service-image-content img {
        width: 100%;
        
    }
    .service-image-content {
        width: 100%;
        height: 200px;
        position: relative;
    }
    h3.single-banner-header {
        font-size: 18px;
        padding: 10px 0;
        margin-bottom: 0;
        padding-bottom: 3px;
    }
    .single-service-image-content {
      
        height: 200px;
        
    }
    .single-service-feature p {
        color: #fff;
        font-size: 10px;
        padding: 1px 24px;
    }
    .service-image-content:hover .service-feature {
        transform: translateY(0);
    }
    .service-feature {
       
        transform: translateY(75%);
      
    }
    .service-feature p {
        font-size: 10px;
        padding: 5px 26px;
    }
    .read-more-icon svg {
        height: 10px;
        width: 15px;
    }
    .read-more-content span {
        /* font-size: 12px; */
        color: #8AF3E3;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 20px;
    }
    .service-feature h3 {
        font-size: 18px;
        padding: 15px 0 0 0;
    }
    a.read-more {
        padding: 0 3px;
        width: 100%;
        padding-top: 0px;
        display: inline-block;
    }
    .single-banner img {
        height: 150px;
        width: 100%;
    }


    /* track number */

    .track-number-desktop
    {
        display: none;
    }
    .track-number-mobile
    {
        display: block;
    }
    .single-banner {
        position: relative;
        height: 200px;
    }
    .banner-part-2 {
        position: absolute;
        top: 0;
        /* left: 30%; */
        text-align: right;
        width: 100%;
        display: none;
    }
    .banner-part-2-content-mobile {
        text-align: center;
    }
    .track-number-mobile {
        width: 95%;
        margin: auto;
        padding-top: 16px;
    }
    .banner-part-2-content-mobile h3 {
        font-size: 18px;
        text-align: left;
        padding-left: 8px;
    }
    .banner-part-2-content-mobile p {
        text-align: left;
        padding-left: 10px;
    }
    .btn.btn-outline-secondary.track-btn {
        background: #8AF3E3;
        padding: 0px;
        /* margin-left: 10px; */
        font-size: 12px;
        color: #1B1D58;
        width: 107px;
    }

    .banner-part-2-content {
       top: 60%;
        bottom: -75px;
        left: 29px;
        width: 100%;
    }
    .track-number {
        width: 85%;
        padding: 20px 0;
        /* margin: auto; */
    }

    .single-banner-third {
        background: #91E3D7;
        height: 91px;
    }
    .third-banner-content {
        text-align: center;
        padding: 3px 0;
        padding-right: 71px;
    }
    .brand-partner-Image {
        background: #91E3D7;
        padding: 30px 0;
    }
    .brand-image-mobile-view {
        width: 33%;
    }
    .brand-parnter-image-content img {
        /* width: 66%; */
        height: 70px;
    }
    img.brand-image-one {
        width: 64%;
        height: 35px;
    }
    img.brand-image-two {
        width: 100%;
        height: 30px;
    }
    img.brand-image-three {
        width: 100%;
        height: 30px;
    }
    img.custom-image1 {
        height: 60px;
    }
    img.custom-image2 {
        height: 60px;
    }
    img.custom-image3 {
        height: 60px;
    }
    img.custom-image4 {
        height: 34px;
        margin-top: 23px;
    }
  
    .third-banner-content {
        /* text-align: center; */
        margin: auto;
        padding: 3px 0;
        /* padding-right: 71px; */
        margin-top: 9px;
        width: 66%;
    }
    .info-title h4 {
        color: #1B1D58;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }
    .info-box {
        width: 81%;
        margin: auto;
    }
    .info-box li {
        font-family: Poppins;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        color: #1B1D58;
        padding: 5px 0;
        display: flex;
    }
    button.btn.btn-primary.btn-lg.btn-block.w-100.mt-1.send-btn {
        font-size: 12px;
    }
    /* time sedule */
    .time-schedule {
        width: 50%;
        padding: 10px;
    }
    .service-time ul li {
        color: #fff;
        font-weight: 100;
        line-height: 28px;
        /* display: inherit; */
        font-size: 10px;
    }
    ul.time-range li {
        font-size: 10px;
        text-align: right;
    }
    .email-box {
        width: 90%;
        padding: 10px 0;
        margin: auto;
    }
    .form-control.email-input {
        background: #fff;
        color: #183650;
        padding: 8px 8px;
        width: 100%;
        margin-bottom: 10px;
    }
    .email-btn {
        background: #8AF3E3;
        padding: 7px;
        /* margin-left: 10px; */
        color: #1B1D58;
        width: 210px;
    }
    img.custom-image2 {
        height: 56px;
        width: 100%;
        float: left;
    }
    /* footer */
    .footer-top-left h3 {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .footer-top-left p {
        color: #fff;
        font-family: Poppins;
        font-size: 10px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }
    .footer-top-right h4 {
        color: #fff;
        text-align: center;
        font-size: 18px;
    }
    .form-control.email-input {
        background: #fff;
        color: #183650;
        padding: 10px 13px;
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .email-btn {
        background: #8AF3E3;
        padding: 7px;
        /* margin-left: 10px; */
        color: #1B1D58;
        width: 200px;
    }
    .footer-top-left {
        width: 80%;
        margin: auto;
        padding: 37px 0;
    }
    .footer-top-right {
        width: 80%;
        margin: auto;
        padding: 4px 0;
    }
    .footer-top-right {
        width: 75%;
        margin: auto;
        padding: 4px 0;
    }
    .service-time {
        /* text-align: center; */
        padding: 17px 0;
        padding-left: 1px;
    }
    .copy-right h5 {
        color: #000000;
        font-family: Poppins;
        font-size: 10px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
    }
    .footer-nav {
        text-align: center;
    }
    .footer-nav ul li {
        display: inline-block;
        margin-left: 10px;
    }
    .footer-nav ul li a {
        color: #000000;
        font-size: 10px;
    }
    .modal.show .modal-dialog {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
        padding: 62px 0;
    }


    /* Modal */
    .service-pop-box p {
        padding: 2px 0px;
        font-size: 10px;
    }
    .service-pop-box h4 {
        padding: 4px 0px;
        padding-top: 13px;
        font-size: 18px;
    }
    .service-pop-box h2 {
        font-size: 12px;
        color: #d2d2d2;
        padding: 0 0px;
    }
    .full-modal-body {
        padding: 0 15px;
    }
    .modal-footer {
       
        padding: 4px;
       
    }
    .btn-cross {
        
        padding: 5px 6px;
        font-size: 12px;
       
    }
    .service-pop-box ul {
        list-style: disc;
        padding-left: 12px;
    }
    ul.mailbox-rental-list li {
        padding: 3px 0;
        font-size: 10px;
    }
}